h1 {
color: black; 
font-family: 'Fraunces', serif;
text-align: center;
}


p {
color: hsl(228, 12%, 48%);
font-family: 'Montserrat';
font-size: 14px;
text-align: center;

}

body {

background-color: hsl(30, 38%, 92%);
margin: 0;
padding: 0;
display: flex;
justify-content: center; /* Horizontally centers the child content */
align-items: center; 


}

.cart {
height: 20px;
width: 20px;


}

.mainthing{
width: 70%;   /* Adjust as needed */
height: 80%;  /* Adjust as needed */
/* Keep the flex properties as is */
margin: auto; /* Optional, helps in centering if the flex on body doesn't work as expected */
/* Add other styles like border, shadow, etc., if desired */
display: flex;     /* This line is crucial */
flex-direction: row; /* Ensures children are laid out horizontally */



}

.image {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden; /* This ensures the content doesn't exceed the div */
    /* Other styles */
}


}

.thead {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 10px;
  align-items: center;


}

.image, .thead {
  border: 1px solid red; /* Temporary for debugging */
}

.price {
color: hsl(158, 36%, 37%);
margin-right: 20px;

}

.formerprice {
text-decoration: line-through;
margin-top: 10px;


}

.perfume {
letter-spacing: 4px;
color: hsl(228, 12%, 48%);
font-family: "Lucida Sans Typewriter", monospace;
font-size: 12px;
text-align: center; 

}

.bottle {
width: 100%;
height: auto;
display: block; /* This removes any extra space below the image */
margin: 0; /* Reset default margin */
padding: 0; /* Reset default padding */
}

.pricing {

display: flex;     /* This line is crucial */
flex-direction: row; /* Ensures children are laid out horizontally */
align-items: center;





}

button {
background-color: hsl(158, 36%, 37%);
color: white;
text-align: center;
font-weight: bold;
border-radius: 20px; 
padding: 20px 20px;
border-color: hsl(158, 36%, 37%);
font-family: 'Montserrat';
font-size: 20px;
line-height: 3px;


}

