h1 {
color: black; 
font-family: 'Fraunces', serif;
text-align: left;
}


p {
color: hsl(228, 12%, 48%);
font-family: 'Montserrat';
font-size: 14px;
text-align: left;

}

body {

background-color: hsl(30, 38%, 92%);
margin: 0;
padding: 0;
display: flex;
justify-content: center; /* Horizontally centers the child content */
align-items: center; /* Vertically centers the child content */
height: 100vh; /* Sets the height of the body to full viewport height */


}

.cart {
height: 10px;
width: 20px;


}

.mainthing{
width: 40%;   /* Adjust as needed */
height: 60%;  /* Adjust as needed */
/* Keep the flex properties as is */
margin: auto; /* Optional, helps in centering if the flex on body doesn't work as expected */
/* Add other styles like border, shadow, etc., if desired */
display: flex;     /* This line is crucial */
flex-direction: row; /* Ensures children are laid out horizontally */


}

.image {
    height: 50%;

}

.thead {
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;



}

.image, .thead {
flex: 1; 

}

.price {
color: hsl(158, 36%, 37%);

}

.formerprice {
text-decoration: line-through;


}

.perfume {
letter-spacing: 2px;
color: hsl(228, 12%, 48%);
font-family: "Lucida Sans Typewriter", monospace;
font-size: 12px;
text-align: left; 



}

button {
background-color: hsl(158, 36%, 37%);
color: white;
text-align: center;
font-weight: bold;
border-radius: 30px; 
padding: 20px 30px;
border-color: hsl(158, 36%, 37%);


}

.bottle {
background-color: hsl(30, 38%, 92%);

}

