h1 {
color: black; 
font-family: 'Fraunces', serif;
}


p {
color: hsl(228, 12%, 48%);
font-family: 'Montserrat';
font-size: 14px;

}

body {

background-color: hsl(30, 38%, 92%);
margin: 0;
padding: 0;
display: flex;
justify-content: center; /* Horizontally centers the child content */
align-items: center; /* Vertically centers the child content */
height: 100vh; /* Sets the height of the body to full viewport height */


}

.mainthing{
 width: 60%;   /* Adjust as needed */
height: 70%;  /* Adjust as needed */
/* Keep the flex properties as is */
 margin: auto; /* Optional, helps in centering if the flex on body doesn't work as expected */
/* Add other styles like border, shadow, etc., if desired */

}

.image {
    width: 100%;
    height: auto;

}

.thead {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.image, .thead {
    flex: 1; 

}

.price {
color: hsl(158, 36%, 37%);

}

.formerprice {
text-decoration: line-through;


}

.perfume {
letter-spacing: 2px;
color: hsl(228, 12%, 48%);
font-family: 'Montserrat';



}

button {
background-color: hsl(158, 36%, 37%);
color: white;


}

.bottle {
background-color: hsl(30, 38%, 92%);

}
