h1 {
color: black; 
font-family: 'Fraunces', serif;
text-align: center;
}


p {
color: hsl(228, 12%, 48%);
font-family: 'Montserrat';
font-size: 14px;
text-align: center;

}

body {

background-color: hsl(30, 38%, 92%);
display: flex;
justify-content: center; /* Horizontally centers the child content */
align-items: center; 


}

.cart {
height: 20px;
width: 20px;


}

.mainthing{
    justify-content: center;
    /* Keep the flex properties as is */
    margin: auto; /* Optional, helps in centering if the flex on body doesn't work as expected */
    /* Add other styles like border, shadow, etc., if desired */
    display: flex;     /* This line is crucial */
    flex-direction: row; /* Ensures children are laid out horizontally */
    border-sizing: border-box;
    width: 35vw; /* Example: 50% of the viewport width */
    height: 50vh; /* Example: 30% of the viewport height */



}

.image {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}


.thead {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;


}

.image, .thead {
  flex: 1; 
}

.price {
color: hsl(158, 36%, 37%);
text-align: center; 
}

.formerprice {
text-decoration: line-through;
margin-top: 10px;
text-align: center; 


}

.perfume {
letter-spacing: 4px;
color: lightgray;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
text-align: center; 

}

.bottle {
width: 100%;
height: auto;

}

.pricing {

display: inline-flex;
align-items: center;

}

button {
background-color: hsl(158, 36%, 37%);
color: white;
text-align: center;
font-weight: bold;
border-radius: 20px; 
padding: 10px 10px;
border-color: hsl(158, 36%, 37%);
font-family: 'Montserrat';
font-size: 20px;
line-height: 5px;


}

