h1 {
color: black; 
font-family: 'Fraunces', serif;
}


p {
color: hsl(228, 12%, 48%);
font-family: 'EB Garamond', serif;
font-size: 14px;

}

.background {

background-color: hsl(30, 38%, 92%);



}

.mainthing{
    display: flex;
    width: 100%;

}

.image {
    width: 100%;
    height: auto;

}

.thead {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.image, .thead {
    flex: 1; 

}

.price {
color: hsl(158, 36%, 37%);

}

.formerprice {
text-decoration: line-through;


}

.perfume {
letter-spacing: 2px;
color: hsl(228, 12%, 48%);


}

button {
background-color: hsl(158, 36%, 37%);
color: white;


}

img {
background-color: hsl(30, 38%, 92%);

}
